In [13]:
import pymysql
import pandas as pd
import numpy as np





class DataBase:
    def __init__(self):
        try:
            self.connection = pymysql.connect(
                host='127.0.0.1',
                port=3306,
                user='root',
                password='',
                db='employees')
        except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
            print("OcurriÃ³ un error al conectar: ", e)
    
    def Consulta(self):
        try:
            with self.connection.cursor() as cursor:
                consulta = "SELECT * FROM employees HAVING COUNT(*) > 10;"
                cursor.execute(consulta)
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
        finally:
            self.connection.close()
    #Cargamos Datos en un Data Frame
    def PdConsulta(self):
        self.employees_table = pd.read_sql_query("SELECT DISTINCT  e.emp_no, e.last_name, max(s.salary), s.from_date, s.to_date FROM salaries s INNER JOIN employees e ON s.emp_no=e.emp_no  group by e.emp_no having max(s.salary) LIMIT 10" ,self.connection)
        return self.employees_table



database= DataBase()
database.Consulta
pdquery = database.PdConsulta()
print(pdquery)

   emp_no  last_name  max(s.salary)   from_date     to_date
0   10001    Facello          88958  1986-06-26  1987-06-26
1   10002     Simmel          72527  1996-08-03  1997-08-03
2   10003    Bamford          43699  1995-12-03  1996-12-02
3   10004    Koblick          74057  1986-12-01  1987-12-01
4   10005   Maliniak          94692  1989-09-12  1990-09-12
5   10006    Preusig          60098  1990-08-05  1991-08-05
6   10007  Zielinski          88070  1989-02-10  1990-02-10
7   10008   Kalloufi          52668  1998-03-11  1999-03-11
8   10009       Peac          94443  1985-02-18  1986-02-18
9   10010   Piveteau          80324  1996-11-24  1997-11-24